.video_inner {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    justify-content: space-between;

    .video {
        margin-bottom: 50px;
        border: 1px solid var(--black200);
        .video_thumb {

            a {
                display: block;
                cursor: pointer;
                width: 100%;
                padding-bottom: 56.25%;
                background-size: cover;
                background-position: center;
            }
        }

        .video_info {
            

            .title {
                margin: 10px 5px 5px 5px;
                @include line(2);
            }
            .desc {
                @include line(3);
                margin: 0 5px 5px 5px;
                color: var(--black400);
            }

            .info {
                width: 100%;
                // justify-content: space-between;
                // display: flex;
                @include line(1);

                .author {
                    width: 100%;
                    color: var(--black500);
                    display: flex;
                }
                .date {
                    width: 100%;
                    color: var(--black300);
                }
            }

        }
    }
}
